#page-book.book-supposedly-fun-thing header#masthead {
	background-image: url('../img/heads/supposedly-fun-thing.jpg');
}

#page-book.book-brief-interviews header#masthead {
	background-image: url('../img/heads/brief-interviews.jpg');
}

#page-book.book-infinite-jest header#masthead {
	background-image: url('../img/heads/infinite-jest.jpg');
}

#page-book.book-pale-king header#masthead {
	background-image: url('../img/heads/the-pale-king.jpg');
}



section.book-info {
}
	
	.book-info div {
		overflow: hidden;
	}
	
	.book-info p.callout {
		width: 795px;
		margin-left: 205px;
		margin-bottom: 25px;
		font-size: 24px;
		line-height: 36px;
		font-weight: 200;
		color: #444;
	}

	/*.book-info p.callout em {*/
		/*font-size: 16px;*/
		/*font-weight: 600;*/
		/*letter-spacing: 3px;*/
		/*text-transform: uppercase;*/
		/*color: #666;*/
	/*}*/

	.book-info em {
		font-style: italic;
	}

	.book-info img {
		border: 5px solid #ddd;
		width: 195px;
		float: left;
		margin: 0 25px 0 90px;
	}

	.book-info p.text {
		color: #444;
		line-height: 24px;
		width: 590px;
		margin: 0 auto;
	}

		.book-info p.text + p.text {
			text-indent: 20px;
		}


section.buy {
}
	
	.buy > div {
		overflow: hidden;
	}
	
	.buy p {
		font-size: 12px;
		line-height: 24px;
		width: 590px;
		color: #666;
		float: left;
	}

	.buy p cite {
		font-weight: 600;
	}

		.buy p cite:before {
			content: "\2014 ";
			margin-left: 10px;
		}

		.buy p cite a {
			color: #666;
			text-decoration: none;
		}

			.buy p cite a:hover {
				color: #222;
			}
	
	.buy div div {
		float: right;
		background: #eee;
		width: 165px;
		margin-right: 90px;
		font-size: 12px;
		text-align: center;
		line-height: 18px;
		padding: 20px 20px 0 20px;
	}
		
		.buy div div h1 {
			color: #666;
			font-weight: 600;
		}

		.buy div div h2 {
			margin-top: 9px;
			color: #888;
		}

		.buy div div a {
			display: block;
			text-decoration: none;
			padding: 10px 0;
			margin: 20px -20px 0;
			color: #888;
			background: #ddd;
			border-top: 1px solid #fff;
			text-transform: uppercase;
			letter-spacing: 2px;
			font-weight: 600;
		}

			.buy div div a:hover {
				background: #aaa;
				color: #fff;
			}



section.collection {
	background: #ddd;
}

	section.collection h1 {
		width: 180px;
		float: left;
		vertical-align: top;
		font-weight: 600;
		color: #888;
		font-size: 14px;
		text-transform: uppercase;
		letter-spacing: 2px;
		line-height: 18px;
	}

	section.collection li {
		width: 180px;
		display: inline-block;
		vertical-align: top;
		margin-left: 22px;
		margin-top: 25px;
		font-size: 12px;
		line-height: 18px;
	}

		section.collection li:nth-of-type(4n+1) {
			margin-left: 205px;
		}

		section.collection li:first-of-type {
			margin-left: 25px;
		}
		
		section.collection li:nth-of-type(1),
		section.collection li:nth-of-type(2),
		section.collection li:nth-of-type(3),
		section.collection li:nth-of-type(4) {
			margin-top: 0;
		}

	section.collection h2 {
		color: #666;
		font-weight: 600;
	}

		section.collection h2 em {
			font-style: italic;
		}

	section.collection p {
		margin-top: 9px;
		color: #666;
	}



section.first-line {
	background: #ddd;
	overflow: hidden;
}

	.first-line h1 {
		margin-top: 11px;
		width: 180px;
		display: inline-block;
		vertical-align: top;
		font-weight: 600;
		color: #888;
		font-size: 14px;
		text-transform: uppercase;
		letter-spacing: 2px;
		line-height: 18px;
	}

	.first-line blockquote {
		font-size: 24px;
		font-weight: 300;
		line-height: 36px;
		color: #666;
		width: 795px;
		margin-left: 22px;
		display: inline-block;
		vertical-align: top;
	}
