#page-index header#masthead {
	/*background: #eee;*/
	background-image: url('../img/heads/index2.jpg');
}
	
	#masthead div.images {
		position: absolute;
		top: 0;
		left: 0;
		padding: 0;
		max-width: none;
		width: 100%;
	}
		
		#masthead .images div {
			height: 60px;
			width: 100%;
		}
			
			/*#masthead .images div.the-pale-king {*/
				/*background: url('../img/heads/the-pale-king.jpg') center 0;*/
			/*}*/

			/*#masthead .images div.infinite-jest {*/
				/*background: url('../img/heads/infinite-jest.jpg') center -60px;*/
			/*}*/

			/*#masthead .images div.about {*/
				/*background: url('../img/heads/about-color.jpg') center -60px;*/
			/*}*/



#quote blockquote {
	font-size: 32px;
	font-weight: 600;
	font-style: italic;
	text-transform: uppercase;
	letter-spacing: 8px;
	line-height: 48px;
	text-align: center;
	color: #888;
}



#booklist {
	background: #ddd;
}
	
	#booklist ul {
		overflow: hidden;
	}
	
	#booklist h1 {
		width: 180px;
		float: left;
		text-transform: uppercase;
		font-weight: 600;
		letter-spacing: 3px;
		color: #888;
		font-size: 14px;
	}

	#booklist li {
		width: 180px;
		margin-left: 25px;
		float: left;

		text-align: center;
	}
		
		#booklist li a {
			text-decoration: none;
		}
		
		#booklist li img {
			max-width: 170px;
			margin-bottom: 18px;
			border: 5px solid #bbb;
		}
			
			#booklist li a:hover img {
				border-color: #aaa;
			}

		#booklist li h2, #booklist li h3 {
			font-size: 12px;
			line-height: 18px;
		}

		#booklist li h2 {
			font-weight: 600;
			color: #666;
		}
		
			#booklist li a:hover h2 {
				color: #333;
			}

		#booklist li h3 {
			color: #888;
		}
			
			#booklist li a:hover h3 {
				color: #555;
			}

			#booklist li.short h3 {
				/*margin-bottom: 18px;*/
			}



#author-photo {
}
	
	#author-photo img {
		max-width: 170px;
		display: inline-block;
		vertical-align: middle;
		border: 5px solid #ddd;
	}

	#author-photo p {
		max-width: 795px;
		display: inline-block;
		vertical-align: middle;
		margin-left: 21px;
		font-size: 24px;
		line-height: 36px;
		font-weight: 200;
		color: #444;
	}
		
		#author-photo p em {
			font-style: italic;
		}

	#author-photo span {
		font-size: 16px;
		font-weight: 600;
		letter-spacing: 3px;
		text-transform: uppercase;
		color: #666;
	}

	#author-photo a {
		margin-left: 10px;
		font-size: 16px;
		font-weight: 600;
		letter-spacing: 3px;
		text-transform: uppercase;
		color: #666;
		text-decoration: none;
	}

		#author-photo a:after {
			content: "\2026";
		}

		#author-photo a:hover {
			color: #222;
		}
